*~
Makefile
*.o
*.so
*.pyc
COPYING
INSTALL
ESPRC
espressopp
src/acconfig.hpp
src/gitversion.hpp
build
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CPack*.cmake
install_manifest.txt
doc/dg/html/
CTestTestfile.cmake
contrib/boost/libespressopp_boost.a
Testing/
testsuite/pi_water/esp.dat
testsuite/pi_water/traj.xyz
testsuite/tabulated/pot-cosine.txt
testsuite/tabulated/pot-fene.txt
testsuite/tabulated/pot-lj.txt
