language: cpp

sudo: required

services:
- docker

env:
  matrix:
    - DISTRO=ubuntu EXTERNAL=ON BUILD_UG=ON
    - DISTRO=ubuntu EXTERNAL=ON COVERAGE=ON
    - DISTRO=ubuntu EXTERNAL=OFF
    - DISTRO=ubuntu_mpich EXTERNAL=ON BUILD_UG=ON
    - DISTRO=ubuntu_mpich EXTERNAL=ON COVERAGE=ON
    - DISTRO=ubuntu_mpich EXTERNAL=OFF
    - DISTRO=fedora EXTERNAL=ON
    - DISTRO=fedora EXTERNAL=ON COVERAGE=ON
    - DISTRO=fedora EXTERNAL=OFF
    - DISTRO=fedora_mpich EXTERNAL=ON
    - DISTRO=fedora_mpich EXTERNAL=ON COVERAGE=ON
    - DISTRO=fedora_mpich EXTERNAL=OFF

matrix:
  allow_failures: #issue #8, ubuntu gcc is too new for internal boost
    - compiler: gcc
      env: DISTRO=ubuntu EXTERNAL=OFF
    - compiler: gcc
      env: DISTRO=ubuntu_mpich EXTERNAL=OFF
    - compiler: gcc
      env: DISTRO=fedora EXTERNAL=OFF
    - compiler: gcc
      env: DISTRO=fedora_mpich EXTERNAL=OFF

script:
 - cp -vr docker ${HOME}
 - sed -i "1s/ubuntu/${DISTRO}/" ${HOME}/docker/Dockerfile
 - cd ../../
 - mv -v ${TRAVIS_REPO_SLUG} $HOME/docker
 - cp -r $HOME/.ccache ${HOME}/docker/ccache
 - docker build --build-arg COVERAGE=${COVERAGE} --build-arg EXTERNAL=${EXTERNAL}
                --build-arg CC=${CC} --build-arg CXX=${CXX} --build-arg BUILD_UG=${BUILD_UG}
                --build-arg TRAVIS_BRANCH=${TRAVIS_BRANCH} --build-arg TRAVIS_JOB_NUMBER=${TRAVIS_JOB_NUMBER}
                --build-arg TRAVIS_PULL_REQUEST=${TRAVIS_PULL_REQUEST} --build-arg TRAVIS_JOB_ID=${TRAVIS_JOB_ID}
                --build-arg TRAVIS_TAG=${TRAVIS_TAG} --build-arg TRAVIS_REPO_SLUG=${TRAVIS_REPO_SLUG}
                --build-arg TRAVIS_COMMIT=${TRAVIS_COMMIT}
                -t espressopp/espressopp:latest ${HOME}/docker/ &&
   rm -rf $HOME/.ccache &&
   CON=$(docker run -d espressopp/espressopp:latest /bin/bash) &&
   docker cp ${CON}:/home/espressopp/.ccache ${HOME}/

after_success:
  - if [[ ${DOCKER_USERNAME} && ${DOCKER_PASSWORD} && ${TRAVIS_PULL_REQUEST} == false && ${TRAVIS_BRANCH} == master && ${TRAVIS_JOB_NUMBER} = *.1 ]]; then
        docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
        docker push "espressopp/espressopp:latest";
    fi
  - if [[ ${BUILD_UG} = ON && ${TRAVIS_JOB_NUMBER} = *.1 ]]; then
      git clone --depth 1 https://github.com/espressopp/espressopp.github.io.git html;
      CON=$(docker run -d espressopp/espressopp:latest) && docker cp ${CON}:/home/espressopp/espressopp/build/doc . ;
      mkdir -p html/doxygen;
      mv doc/dg/html/* html/doxygen;
      mv doc/ug/_build/latex/ESPResSo++.pdf html;
      mv doc/ug/_build/html/* html;
      rm -rvf doc;
      cd html;
      if [[ ${TRAVIS_BRANCH} = master && ${encrypted_194b3d1e9306_key} && ${encrypted_194b3d1e9306_iv} && ${TRAVIS_PULL_REQUEST} == false ]]; then
        git config --global user.name "Automatic Deployment (Travis CI)";
        git config --global user.email "espp-devel@listserv.mpip-mainz.mpg.de";
        git add --all && git commit -m "Documentation Update";
        openssl aes-256-cbc -K $encrypted_194b3d1e9306_key -iv $encrypted_194b3d1e9306_iv -in ../../deploy.enc -out ~/.ssh/id_rsa -d;
        chmod 600 ~/.ssh/id_rsa;
        git push git@github.com:espressopp/espressopp.github.io.git master;
      else
        git diff --no-color | head -n 500;
      fi;
    fi

cache:
  - ccache

compiler:
  - gcc
  - clang
