language: cpp

sudo: false

addons:
  apt:
    sources:
      - boost-latest
      - george-edison55-precise-backports
      - ubuntu-toolchain-r-test
    packages:
      - ccache
      - libfftw3-dev
      - cmake
      - cmake-data
      - doxygen
      - graphviz
      - libopenmpi-dev
      - openmpi-bin
      - libboost1.55-all-dev
      - python-matplotlib
      - texlive-latex-base
      - texlive-latex-recommended
      - texlive-latex-extra
      - texlive-fonts-recommended
      - gcc-4.7
      - g++-4.7
      - gcc-4.8
      - g++-4.8
      - gcc-4.9
      - g++-4.9
      - gcc-5
      - g++-5
      - h5py

before_install:
 - if [[ ${GVER} ]]; then export CC=gcc-${GVER}; export CXX=g++-${GVER}; fi
 - if [[ ${BUILD_UG} ]]; then
     git clone https://github.com/espressopp/espressopp.github.io.git doc/ug/_build/html;
     pip install --user sphinx;
     mkdir -p doc/ug/_build/latex;
     wget -O doc/ug/_build/latex/newfloat.sty https://raw.githubusercontent.com/onlinecity/gatewayapi-docs/master/docs/newfloat.sty;
   fi
 - mkdir -p "$HOME/bin"
 - ln -s /usr/bin/ccache "$HOME/bin/clang++"
 - ln -s /usr/bin/ccache "$HOME/bin/clang"
 - if [[ ${EXTERNAL} = ON ]]; then pip install --user mpi4py; fi 
 - if [[ ${COVERAGE}  ]]; then pip install --user codecov; fi
 - if [[ ${TEST_H5MD} ]]; then
     export CC="`which mpicc`" &&
     wget -qO- https://www.hdfgroup.org/ftp/HDF5/releases/hdf5-${HDF5_VERSION}/src/hdf5-${HDF5_VERSION}.tar.gz | tar -xz && cd hdf5-${HDF5_VERSION} && ./configure --prefix=$HOME/hdf5 --enable-parallel && make -j4 &> /dev/null && make install && cd .. &&
     export CPATH="$CPATH:$HOME/hdf5/include" &&
     export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/hdf5/lib" &&
     git clone https://github.com/h5py/h5py.git &&
     cd h5py &&
     python setup.py configure --hdf5 $HOME/hdf5 --mpi &&
     python setup.py install --user &&
     cd .. &&
     git clone https://github.com/pdebuyl/pyh5md.git &&
     cd pyh5md &&
     python setup.py install --user &&
     cd ..;
   fi
env: #maybe add mpich later
  global:
    - CCACHE_CPP2=yes
    - HDF5_VERSION=1.8.17
  matrix:
    - EXTERNAL=ON BUILD_UG=ON
    - EXTERNAL=ON COVERAGE=ON
    - EXTERNAL=OFF
    - GVER=4.7 EXTERNAL=ON
    - GVER=4.8 EXTERNAL=ON
    - GVER=4.9 EXTERNAL=ON
    - TEST_H5MD=ON EXTERNAL=ON  # mpi4py is required to build h5py
#    - GVER=5   EXTERNAL=ON #needs a newer boost version

matrix:
  exclude:
    - compiler: clang
      env: EXTERNAL=ON COVERAGE=ON #clang has no coverage support
    - compiler: clang
      env: GVER=4.7 EXTERNAL=ON
    - compiler: clang
      env: GVER=4.8 EXTERNAL=ON
    - compiler: clang
      env: GVER=4.9 EXTERNAL=ON
    - compiler: clang
      env: GVER=5   EXTERNAL=ON

script:
  - mkdir build && cd build &&
    PATH="$HOME/bin:/usr/lib/ccache:$PATH" cmake -DEXTERNAL_BOOST=$EXTERNAL -DEXTERNAL_MPI4PY=$EXTERNAL ${COVERAGE:+-DUSE_GCOV=ON} .. &&
    make -j2 all ${BUILD_UG:+ug doc ug-pdf} &&
    make test ARGS='-V' &&
    make install DESTDIR="${HOME}"

after_success:
  - if [[ ${BUILD_UG} = ON && ${TRAVIS_JOB_NUMBER} = *.1 ]]; then
      mkdir -p ../doc/ug/_build/html/doxygen;
      cp -r ../doc/dg/html/* ../doc/ug/_build/html/doxygen;
      cp ../doc/ug/_build/latex/ESPResSo++.pdf ../doc/ug/_build/html;
      cd ../doc/ug/_build/html/;
      if [[ ${TRAVIS_BRANCH} = master && ${encrypted_194b3d1e9306_key} && ${encrypted_194b3d1e9306_iv} && ${TRAVIS_PULL_REQUEST} == false ]]; then
        git config --global user.name "Automatic Deployment (Travis CI)";
        git config --global user.email "espp-devel@listserv.mpip-mainz.mpg.de";
        git add --all && git commit -m "Documentation Update";
        openssl aes-256-cbc -K $encrypted_194b3d1e9306_key -iv $encrypted_194b3d1e9306_iv -in ../../deploy.enc -out ~/.ssh/id_rsa -d;
        chmod 600 ~/.ssh/id_rsa;
        git push git@github.com:espressopp/espressopp.github.io.git master;
      else
        git diff --no-color | head -n 500;
      fi;
    fi
  - if [[ ${COVERAGE} ]]; then PATH=/usr/bin find . -type f -name "*.gcno" -execdir gcov {} + &>/dev/null && cd .. && codecov; fi

cache:
  directories:
    - $HOME/.ccache

compiler:
  - clang
  - gcc
