import os.path
import sys

# include the path to the python packages as in the build tree,
# if applicable
dir = os.path.dirname(__file__)
(dir, cppname) = os.path.split(dir)
if cppname == "cpp":
    if dir == "":
        sys.path.append("python")
    else:
        sys.path.append(dir+"/python")

# include the path containing the installed python packages
sys.path.append("@pkgpythondir@")

import _espresso
